/* #region some constants */
:root {
  --main-color: #e50914;
  --main-transition: 0.6s;
}
/* #endregion */

/* #region Main Stayled */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  scroll-behavior: smooth;
  background-color: #333;
}

.container {
  width: calc(100% - 50px);
  height: 100%;
  margin: auto 25px;
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

ul li {
  list-style: none;
}
/* #endregion */

/* #region Nav */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: var(--main-transition);
}

#nav .header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 28px;
}

#nav .header .logo svg {
  width: 8.375rem;
  height: 2.25rem;
  fill: var(--main-color);
  transform: rotate(180deg);
  cursor: pointer;
}

#nav .header .lang-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  flex-direction: row-reverse;
}

#nav .header .lang {
  border: 2px solid white;
  width: 92px;
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

#nav .header .lang span {
  color: white;
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  cursor: default;
  user-select: none;
}

#nav .header .lang .dropDown {
  position: absolute;
  background: #333;
  width: 100%;
  top: 110%;
  color: white;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  padding: 2px;
  opacity: 0;
  transition: 0.2s;
  user-select: none;
}

#nav .header .lang .dropDown.active {
  opacity: 1;
  height: 87px;
}

#nav .header .lang .dropDown ul li {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: 8px;
}

#nav .header .lang .dropDown ul li:hover {
  padding-left: 10px;
  background-color: var(--main-color);
}

#nav .header .lang .fa-globe {
  color: white;
  font-size: 13px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

#nav .header .lang .fa-caret-down {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

#nav .header .btn a {
  color: white;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
}

#nav .header .btn {
  transition: var(--main-transition);
}

#nav .header .btn:hover {
  transform: translate(0, -8px);
}
/* #endregion */

/* #region Home Section */
#home {
  height: 100vh;
  background: url("../Img/backGround.jpg") no-repeat;
  background-size: cover;
}

#home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .container .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 15rem;
  width: 70vw;
}

#home .container .contain .addres {
  text-align: center;
  font-size: 30px;
  width: 100%;
}

#home .container .contain .addres h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#home .container .contain .text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 999;
  transition: 0.4s;
}

#home .container .contain .text input {
  width: 100%;
  height: 100%;
  direction: rtl;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 22px;
  border-radius: 0 10px 10px 0;
}

#home .container .contain .text button {
  height: 100%;
  width: 90px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  font-size: 22px;
  border-radius: 10px 0 0 10px;
}

#home .container .contain .text button:hover i {
  animation: searchBtn 2s infinite;
}
/* #endregion */

/* #region Show Section */
#cover {
  border: 5px solid white;
}

#Show .contain {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#Show .contain h1 {
  border-bottom: 3px solid white;
}

#Show .contain .net {
  margin: 30px 0 50px;
  min-height: 500px;
  width: 100%;
  border: 1px solid white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#Show .contain .net article {
  height: 250px;
  width: 180px;
  border: 3px solid white;
  margin: 20px;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 25px 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(80px);
}

#Show .contain .net article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 20%, #000);
  z-index: -1;
}

#Show .contain .net article img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  transition: var(--main-transition);
}

#Show .contain .net article p {
  margin-bottom: 15px;
  padding: 0 20px 0;
}

#Show .contain .net article:hover img {
  transform: scale(1.2) rotate(-8deg);
}
/* #endregion */

/* #region toggleBtn */
#toggleBtn {
  display: none;
  position: fixed;
  top: 50%;
  font-size: 2rem;
  padding: 5px;
  background: var(--main-color);
  color: white;
  transform: translate(-20%, -50%);
  cursor: pointer;
  fill: #f5f5f5;
  transition: var(--main-transition);
}

#toggleBtn:hover {
  transform: translate(0, -50%);
}

#nav .header .lang-btn > span {
  display: none;
}
/* #endregion */

/* #region Meia Query */
@media (max-width: 767px) {
  #home .container .contain .addres h1 {
    font-size: 2rem;
  }

  #home .container .contain {
    height: 10rem;
  }
}

@media (max-width: 575px) {
  #home .container .contain .addres h1 {
    font-size: 1.5rem;
  }

  #home .container .contain {
    height: 5rem;
  }

  #nav .header .lang-btn {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: #00000026;
    gap: 50px;
    transition: var(--main-transition);
  }

  #nav .header .lang-btn.active {
    transform: translateX(0);
  }

  #nav .header .lang-btn > span {
    display: block;
    font-size: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
  }

  #nav .header {
    justify-content: center;
  }

  #toggleBtn {
    display: block;
  }
}
/* #endregion */

/* #region keyframes */
@keyframes searchBtn {
  0% {
    transform: translate(3px, -3px);
  }
  30% {
    transform: translate(-8px, -3px);
  }
  60% {
    transform: translate(-8px, 3px);
  }
  90% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(3px, -3px);
  }
}

@keyframes showArt {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* #endregion */
